.error{
    color: red;
    /*margin-top: 1%;*/
    font-weight: normal;
}
input.error{
    border: 1px solid red;
}
select.error{
	border: 1px solid red;
    color: #555;
}
#error{
    display: none;
}

/*dung cho man hinh dien thoai (Responsive )*/
@media only screen and (max-width: 375px){
	#dataTables-example {
		width: 100%;
	    overflow: hidden;
	    overflow-x: auto;
	    display: block;
	}
	#report_info{
		width: 100%;
	    overflow: hidden;
	    overflow-x: auto;
	    display: block;
	}
}

/*k bi trang bang*/
@media only screen and (max-width: 757px){
	.table{
	    table-layout: fixed;
	    overflow: hidden;
	    overflow-x: auto;
	    display: block;
	}
}
.footer_admin{
	width: 100%;
}
footer{
	text-align: center;
}
/*.right_col{
	min-height: 730px !important;
}*/
.start_date_fr{
    width: 40%;
    float: left;
}
.end_date_fr{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.customer_fr{
    width: 85%;
}
.availability{
    margin-right: 2%;
}
.right_add{
	float: right;
	margin-left: 2%;
}
.page-header{
	text-transform: uppercase;
}
.cancel{
	background-color: #2A3F54;
	color: white;
}